fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic[email]==2.10.5
psycopg[binary]==3.2.3
redis==5.2.1
tenacity==9.0.0
faker==33.1.0
requests==2.32.3
streamlit==1.41.1
pandas==2.2.3
apscheduler==3.11.0
